.datasets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datasets .table-container {
    width: 90%;
}

.datasets .table-container .action-cell a {
    text-decoration: none;
}

.datasets .table-container .action-cell a svg {
    fill: #282c34;
}
